@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<div id="@Id" style="height: 100%; width: 100%">
    <SignatureMenu Id="@($"signature-menu-{Id}")"
                   Options="@MenuOptions"
                   Labels="Labels"
                   IsMobile="IsMobile"
                   OnExportClicked="OnExportClickedAsync"
                   OnPenClicked="OnPenClickedAsync"
                   OnEraserClicked="OnEraserClickedAsync"
                   OnPenSettingsClicked="OnPenSettingsClickedAsync"
                   OnEraserSettingsClicked="OnEraserSettingsClickedAsync"
                   OnGridSettingsClicked="OnGridSettingsClickedAsync"
                   OnWatermarkSettingsClicked="OnWatermarkSettingsClickedAsync"
                   OnUndoClicked="OnUndoClickedAsync"
                   OnRedoClicked="OnRedoClickedAsync"
                   OnClearClicked="OnClearClickedAsync" />

    <Signature @ref=_signature Options="@Options" Style="@SignatureStyle"/>
</div>
