<div style="height: 750px;">
    <div style="height: 250px">
        <FluentStack Orientation="Orientation.Vertical"
                     VerticalGap="2">
            <FluentSwitch Label="Is mobile" @bind-Value=_isMobile />

            <FluentSlider Label="Width of the image"
                          @bind-Value="@Width"
                          Min="100"
                          Max="400"
                          Step="10" />

            <FluentSlider Label="Height of the image"
                          @bind-Value="@Height"
                          Min="100"
                          Max="400"
                          Step="10" />
        </FluentStack>
    </div>

    <FluentCxArtisticScatter Height="500px"
                             Width="100%"
                             IsMobile=@_isMobile>
        <ArtisticScatterItem Width="@($"{Width}px")" Height="@($"{Height}px")" Source="./_content/FluentUI.Demo.Shared/slideshowimages/1.jpg" />
        <ArtisticScatterItem Width="@($"{Width}px")" Height="@($"{Height}px")" Source="./_content/FluentUI.Demo.Shared/slideshowimages/2.jpg" />
        <ArtisticScatterItem Width="@($"{Width}px")" Height="@($"{Height}px")" Source="./_content/FluentUI.Demo.Shared/slideshowimages/3.jpg" />
    </FluentCxArtisticScatter>
</div>

@code {
    private bool _isMobile = false;
    private int Width { get; set; } = 100;
    private int Height { get; set; } = 100;
}
