@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<span @ref="@Element"
      id="@Id"
      class="login-overlay-text @Class"
      style="@InternalStyle"
      role="presentation"
      @attributes="@AdditionalAttributes">
    @Text
</span>
