<div style="width: 100%; height: 850px">
    <FluentStack Style="height: 100%" Orientation="Orientation.Vertical">
        <FluentStack VerticalAlignment="VerticalAlignment.Center" Wrap>
            <FluentSwitch @bind-Value=_showControls Label="Show controls" />
            <FluentSpacer Width="60" />
            <FluentSwitch @bind-Value=_showIndicators Label="Show indicators" />
            <FluentSpacer Width="60" />
        </FluentStack>

        <FluentStack VerticalAlignment="VerticalAlignment.Center" Wrap>
            <FluentSwitch @bind-Value=_autoPlay Label="Autoplay" />
            <FluentSpacer Width="60" />
            <FluentSelect @bind-Value="@_loopMode"
                          Label="Looping"
                          TOption="string"
                          Style="margin-bottom: 20px">
                <FluentOption Value="None" Selected="true">None</FluentOption>
                <FluentOption Value="Rewind">Rewind</FluentOption>
                <FluentOption Value="Infinite">Infinite</FluentOption>
            </FluentSelect>
            <FluentSpacer Width="60" />
            <FluentSwitch @bind-Value=_touchEnabled Label="Touch enabled" />
        </FluentStack>

        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <FluentNumberField @bind-Value=_interval Label="Autoplay interval (seconds)" />
            <FluentSpacer Width="60" />
            <FluentNumberField @bind-Value=_duration Label="Slide animation duration (miliseconds)" />
            <FluentSpacer Width="60" />
            <FluentSelect @bind-Value="@_imageRatio"
                          Label="Image Ratio"
                          TOption="string"
                          Style="margin-bottom: 20px">
                <FluentOption Value="Auto" Selected="true">Auto</FluentOption>
                <FluentOption Value="Fill">Fill</FluentOption>
            </FluentSelect>
        </FluentStack>

        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            @if (_showIndicators && _loopMode != SlideshowLoopingMode.Infinite.ToString())
            {
                <FluentSelect @bind-Value="@_indicatorPosition" Label="Position of the indicator" TOption="string">
                    <FluentOption Value="Top">Top</FluentOption>
                    <FluentOption Value="Bottom" Selected="true">Bottom</FluentOption>
                    <FluentOption Value="Left">Left</FluentOption>
                    <FluentOption Value="Right">Right</FluentOption>
                </FluentSelect>
            }
            else
            {
                <FluentSelect @bind-Value="@_orientation" Label="Orientation of the Slideshow" TOption="string">
                    <FluentOption Value="Horizontal" Selected>Horizontal</FluentOption>
                    <FluentOption Value="Vertical" Selected="true">Vertical</FluentOption>
                </FluentSelect>
            }
        </FluentStack>

        <div style="width: 100%; height: calc(100% - 150px)">
            <FluentCxSlideshow ShowIndicators=@_showIndicators
                               ShowControls=@_showControls
                               Autoplay="@_autoPlay"
                               AutoplayInterval="@TimeSpan.FromSeconds(_interval)"
                               SlideDuration=@TimeSpan.FromMilliseconds(_duration)
                               LoopMode=@(Enum.Parse<SlideshowLoopingMode>(_loopMode))
                               Orientation="@(Enum.Parse<Orientation>(_orientation))"
                               IsTouchEnabled=@_touchEnabled
                               ImageAspectRatio=@(Enum.Parse<SlideshowImageRatio>(_imageRatio))
                               IndicatorPosition="@(Enum.Parse<SlideshowIndicatorPosition>(_indicatorPosition))"
                               TItem="string">
                <SlideshowItem>
                    <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/1.jpg" />
                </SlideshowItem>

                <SlideshowItem>
                    <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/2.jpg" />
                </SlideshowItem>

                <SlideshowItem>
                    <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/3.jpg" />
                </SlideshowItem>
            </FluentCxSlideshow>
        </div>

    </FluentStack>
</div>

@code {
    private bool _showControls;
    private bool _showIndicators;
    private bool _autoPlay;
    private int _interval = 5;
    private int _duration = 300;
    private string _loopMode = "None";
    private string _indicatorPosition = "Bottom";
    private string _imageRatio = "Auto";
    private string _orientation = "Horizontal";
    private bool _touchEnabled;
}
