@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

@code {
    public SleekDialItem()
    {
        Id = Identifier.NewId();

        RenderComponent = __builder =>
        {
            <li class="@InternalClass"
                style="@InternalStyle"
                id="@Id"
                role="menuitem"
                aria-label="@Text"
                title="@Title"
                tabindex="@(Index + 1)"
                aria-disabled="@(Disabled.ToString().ToLowerInvariant())"
                @attributes=AdditionalAttributes
                @onclick=OnClickAsync
                @ref=Element>

                @if (Parent?.ItemTemplate is not null)
                {
                    Parent?.ItemTemplate(this);
                }
                else
                {
                    if (Icon is not null)
                    {
                        <span class="sleekdialitem-icon">
                            <FluentIcon Id="@($"Icon_{Id}")"
                                        Value="@Icon" />
                        </span>
                    }

                    if (!string.IsNullOrEmpty(Text))
                    {
                        <span class="sleekdialitem-text">
                            <FluentLabel Disabled=@Disabled>@Text</FluentLabel>
                        </span>
                    }
                }
            </li>
        };
    }
}
