@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

@if (Item is not null)
{
    <li class="@InternalClass" style="@InternalStyle">
        <FluentButton Appearance="Appearance.Neutral"
                      AdditionalAttributes="@AdditionalAttributes"
                      Disabled=@Item.Disabled
                      Title="@Item.Title"
                      Style="@InternalButtonStyle"
                      OnClick="@OnClickAsync"
                      Id="@Id"
                      IconStart="@(Item.Icon is not null ? Item.Icon : null)"
                      ChildContent="@(!string.IsNullOrEmpty(Item.Text) ? _renderText : null)" />
    </li>
     
}

@code {
    public SleekDialItemView()
    {
        Id = Identifier.NewId();

        _renderText = __builder =>
        {
            @Item!.Text
        };
    }
}
