@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

@if (Item is not null)
{
    <div id="@Id" Style="@Style" class="@Css">
        @if (_itemLoaded)
        {
            if (Template is not null)
            {
                @Template(Item)
            }
            else
            {
                if (Item.ContentType.StartsWith("image"))
                {
                    <img width="110" height="110" src="@_base64Data" style="object-fit: cover" />
                }
                else if (Item.ContentType.StartsWith("video"))
                {
                    <video id="@($"video-player-{Id}")" width="110" height="110">

                    </video>
                }
                else if (Item.ContentType.StartsWith("audio"))
                {
                    <ChatAudioFileViewer Source="@_base64Data"
                                         PlayLabel="@PlayLabel"
                                         PauseLabel="@PauseLabel"
                                         Width="110px"
                                         Height="110px"/>
                }
                else
                {
                    <FluentIcon Value="@(FileIcons.FromExtensionAndGridViewOptions(Path.GetExtension(Item.Name), FileView.MediumIcons))"
                                Width="110px" />
                }
            }
        }
        else
        {
            @if (LoadingContent is not null)
            {
                @LoadingContent
            }
            else
            {
                <FluentStack Orientation="Orientation.Vertical"
                             HorizontalAlignment="HorizontalAlignment.Center"
                             VerticalAlignment="VerticalAlignment.Center">
                    <FluentProgressRing />
                    <FluentLabel Style="font-size: var(--type-ramp-minus-2-font-size); line-height: 8px;">
                        @LoadingLabel
                    </FluentLabel>
                </FluentStack>
            }
        }


        <FluentButton IconStart=@(new Regular.Size24.Dismiss())
                      Style="width: 32px; border-radius: 10000px; position: absolute; top: 5px; right: 5px;"
                      OnClick="@OnDismissAsync"
                      Appearance="Appearance.Stealth"
                      />
    </div>
}
