@namespace FluentUI.Blazor.Community.Components

@if (Parent is not null)
{
    <LoginCardContainer TitleIcon="@(new Regular.Size48.PersonAdd())" Title="@Parent.Labels.Register">
        <Body>
            <FluentEditForm style="width: 100%; height: 100%"
                            Model="@_model"
                            @ref=_fluentEditForm
                            method="post"
                            OnValidSubmit="@OnSignUpAsync">
                <Microsoft.AspNetCore.Components.Forms.DataAnnotationsValidator />

                <FluentStack Style="height: 100%"
                             Orientation="Orientation.Vertical"
                             VerticalGap="0">
                    <FluentStack Orientation="Orientation.Vertical"
                                 VerticalGap="0"
                                 Style="margin-bottom: 20px">
                        <FluentTextField Label="@Parent.Labels.Email"
                                         AriaLabel="@Parent.Labels.Email"
                                         Placeholder="@Parent.Labels.EmailPlaceholder"
                                         @bind-Value="_model.Email"
                                         Immediate
                                         Required
                                         Style="width: 100%;" />

                        <FluentValidationMessage For="@(() => _model.Email)" />
                    </FluentStack>

                    <FluentStack Orientation="Orientation.Vertical"
                                 VerticalGap="0"
                                 Style="margin-bottom: 20px">
                        <FluentTextField Label="@Parent.Labels.DisplayName"
                                         AriaLabel="@Parent.Labels.DisplayName"
                                         Placeholder="@Parent.Labels.DisplayNamePlaceholder"
                                         @bind-Value="_model.DisplayName"
                                         Required
                                         Immediate
                                         Style="width: 100%;" />

                        <FluentValidationMessage For="@(() => _model.DisplayName)" />
                    </FluentStack>

                    <FluentStack Orientation="Orientation.Vertical"
                                 VerticalGap="0"
                                 Style="margin-bottom: 20px">
                        <FluentTextField Label="@Parent.Labels.Password"
                                         AriaLabel="@Parent.Labels.Password"
                                         Placeholder="@Parent.Labels.PasswordPlaceholder"
                                         TextFieldType="TextFieldType.Password"
                                         @bind-Value="_model.Password"
                                         Required
                                         Immediate
                                         Style="width: 100%;" />

                        <FluentValidationMessage For="@(() => _model.Password)" />
                    </FluentStack>

                    <FluentStack Orientation="Orientation.Vertical"
                                 VerticalGap="0"
                                 Style="margin-bottom: 20px">
                        <FluentTextField Label="@Parent.Labels.ConfirmPassword"
                                         AriaLabel="@Parent.Labels.ConfirmPassword"
                                         Placeholder="@Parent.Labels.ConfirmPasswordPlaceholder"
                                         TextFieldType="TextFieldType.Password"
                                         @bind-Value="_model.ConfirmPassword"
                                         Immediate
                                         Required
                                         Style="width: 100%;" />

                        <FluentValidationMessage For="@(() => _model.ConfirmPassword)" />
                    </FluentStack>

                    @if (!string.IsNullOrEmpty(_errorMessage))
                    {
                        <FluentStack Orientation="Orientation.Vertical">
                            <FluentStack>

                            </FluentStack>

                            <FluentLabel Color="Color.Error"
                                         Style="margin-bottom: 20px;">
                                @_errorMessage
                            </FluentLabel>
                        </FluentStack>
                    }

                    <FluentStack VerticalAlignment="VerticalAlignment.Bottom"
                                 Style="height: 100%">
                        <FluentButton Style="width: 100%;"
                                      Appearance="Appearance.Accent"
                                      Type="ButtonType.Submit"
                                      Disabled="@IsDisabled"
                                      Loading="@_isLoading">
                            @Parent.Labels.Register
                        </FluentButton>
                    </FluentStack>
                </FluentStack>
            </FluentEditForm>
        </Body>

        <Footer>
            <FluentStack VerticalAlignment="VerticalAlignment.Center"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         Orientation="Orientation.Vertical"
                         Style="height: 100%">
                @if (UseExternalProviders)
                {
                    <ExternalProviderPicker Labels="@Parent.Labels"
                                            IconFromExternal="@ExternalIconProvider"
                                            ShowText="@ShowExternalProviderText"
                                            OnExternalProviderSelected="@OnExternalProviderSelectedAsync"
                                            SignUp />
                }

                <FluentLabel Color="@Color.FillInverse">@Parent.Labels.AlreadyHaveAnAccount</FluentLabel>
                <FluentAnchor Href="#"
                              Appearance="Appearance.Hypertext"
                              OnClick="@(OnLoginAsync)">
                    @Parent.Labels.Login
                </FluentAnchor>
            </FluentStack>
        </Footer>
    </LoginCardContainer>
}
