<h3>Drop zone manual</h3>

<p>
    You can create a drop zone manually without providing Items.
    For now, manual drop zone cannot be used outside its container.
</p>

<FluentStack Orientation="Orientation.Vertical">
    <FluentLabel>Dropzone source</FluentLabel>

    <FluentCxDropZoneContainer TItem="DropZoneSampleItem"
                               IsDragAllowed="@((i) => i.Title == "Item 1")">
        <FluentCxDropZone Value="@Item1">
            <FluentCard>
                @Item1.Title
            </FluentCard>
        </FluentCxDropZone>

        <FluentCxDropZone Value="@Item2">
            <FluentCard>
                @Item2.Title
            </FluentCard>
        </FluentCxDropZone>

        <FluentCxDropZone Value="@Item3">
            <FluentCard>
                @Item3.Title
            </FluentCard>
        </FluentCxDropZone>
    </FluentCxDropZoneContainer>
</FluentStack>


@code {
    private readonly DropZoneSampleItem Item1 = new()
        {
            Title = "Item 1"
        };

    private readonly DropZoneSampleItem Item2 = new()
    {
        Title = "Item 2"
    };

    private readonly DropZoneSampleItem Item3 = new()
    {
        Title = "Item 3"
    };
}
