@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<div id="@Id" class="@Class" style="@Style">
    <FluentButton IconStart=@(_isMenuOpen? _chevronDown : _chevronRight)
                  Id="@($"Button{Id}")"
                  OnClick="@(() => _isMenuOpen = !_isMenuOpen)"
                  Appearance="Appearance.Stealth" />

    <FluentMenu Id="@($"Popover{Id}")"
                Anchor="@($"Button{Id}")"
                @bind-Open=_isMenuOpen>
        @foreach (var item in Items)
        {
            <FluentMenuItem Label="@item.Label"
                            Id="@item.Id"
                            OnClick="@(() => OnItemTappedAsync(item))" />
        }
    </FluentMenu>
</div>

