@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<CascadingValue Value="this" IsFixed>
    <div id="@Id" class="@InternalClass" style="@Style">
        <FluentAnchor Appearance=Appearance.Stealth
                      Href="#"
                      ChildContent="@(ShowLabel ? _renderLabelFragment : null)"
                      Id="@($"fluent-anchor-{Id}")"
                      aria-label="@Label"
                      IconStart="@(Icon is not null ? Icon : null)"
                      OnClick="@OnTappedAsync">
        </FluentAnchor>

        @if (Items is not null && Items.Any())
        {
            <FluentCxPathBarItemMenu Id="@($"fluent-menu-item-{Id}")" Items=@Items />
        }
    </div>
</CascadingValue>

@code {
    public FluentCxPathBarItem()
    {
        Id = Identifier.NewId();
        _renderLabelFragment = builder =>
        {
            builder.AddContent(0, Label);
        };
    }
}


