<div id="target" style="height: 400px; position: relative; margin-bottom: 30px">
    <FluentCxSleekDial Target="target"
                       Position="FloatingPosition.BottomCenter"
                       OpenIcon="@(new Icons.Filled.Size24.Navigation())"
                       CloseIcon="@(new Icons.Filled.Size24.Dismiss())">
        <SleekDialItem Title="Cut" Icon="@(new Icons.Regular.Size24.Cut())" />
        <SleekDialItem Title="Copy" Icon="@(new Icons.Regular.Size24.Copy())" />
        <SleekDialItem Title="Paste" Icon="@(new Icons.Regular.Size24.ClipboardPaste())" />
        <SleekDialItem Title="Delete" Icon="@(new Icons.Regular.Size24.Delete())" />
    </FluentCxSleekDial>
</div>
