<div id="target-radial" style="height: 600px; position: relative; margin-bottom: 30px">
    <FluentCxSleekDial Target="target-radial"
                       Position="FloatingPosition.TopLeft"
                       Mode="SleekDialMode.Radial"                      
                       OpenIcon="@(new Icons.Filled.Size24.Navigation())"
                       CloseIcon="@(new Icons.Filled.Size24.Dismiss())">
        <SleekDialItem Title="Cut" Icon="@(new Icons.Regular.Size24.Cut())" />
        <SleekDialItem Title="Copy" Icon="@(new Icons.Regular.Size24.Copy())" />
        <SleekDialItem Title="Paste" Icon="@(new Icons.Regular.Size24.ClipboardPaste())" />
        <SleekDialItem Title="Delete" Icon="@(new Icons.Regular.Size24.Delete())" />
    </FluentCxSleekDial>
 
    <FluentCxSleekDial Target="target-radial"
                       Position="FloatingPosition.TopCenter"
                       OpenIcon="@(new Icons.Filled.Size24.Navigation())"
                       Mode="SleekDialMode.Radial"
                       CloseIcon="@(new Icons.Filled.Size24.Dismiss())">
        <SleekDialItem Title="Cut" Icon="@(new Icons.Regular.Size24.Cut())" />
        <SleekDialItem Title="Copy" Icon="@(new Icons.Regular.Size24.Copy())" />
        <SleekDialItem Title="Paste" Icon="@(new Icons.Regular.Size24.ClipboardPaste())" />
        <SleekDialItem Title="Delete" Icon="@(new Icons.Regular.Size24.Delete())" />
    </FluentCxSleekDial>

   <FluentCxSleekDial Target="target-radial"
                       Position="FloatingPosition.TopRight"
                       OpenIcon="@(new Icons.Filled.Size24.Navigation())"
                       Mode="SleekDialMode.Radial"
                       CloseIcon="@(new Icons.Filled.Size24.Dismiss())">
        <SleekDialItem Title="Cut" Icon="@(new Icons.Regular.Size24.Cut())" />
        <SleekDialItem Title="Copy" Icon="@(new Icons.Regular.Size24.Copy())" />
        <SleekDialItem Title="Paste" Icon="@(new Icons.Regular.Size24.ClipboardPaste())" />
        <SleekDialItem Title="Delete" Icon="@(new Icons.Regular.Size24.Delete())" />
    </FluentCxSleekDial>

    <FluentCxSleekDial Target="target-radial"
                       Position="FloatingPosition.MiddleLeft"
                       OpenIcon="@(new Icons.Filled.Size24.Navigation())"
                       CloseIcon="@(new Icons.Filled.Size24.Dismiss())"
                       Mode="SleekDialMode.Radial"
                       Direction="SleekDialLinearDirection.Right">
        <SleekDialItem Title="Cut" Icon="@(new Icons.Regular.Size24.Cut())" />
        <SleekDialItem Title="Copy" Icon="@(new Icons.Regular.Size24.Copy())" />
        <SleekDialItem Title="Paste" Icon="@(new Icons.Regular.Size24.ClipboardPaste())" />
        <SleekDialItem Title="Delete" Icon="@(new Icons.Regular.Size24.Delete())" />
    </FluentCxSleekDial>

    <FluentCxSleekDial Target="target-radial"
                       Position="FloatingPosition.MiddleCenter"
                       OpenIcon="@(new Icons.Filled.Size24.Navigation())"
                       Mode="SleekDialMode.Radial"
                       CloseIcon="@(new Icons.Filled.Size24.Dismiss())">
        <SleekDialItem Title="Cut" Icon="@(new Icons.Regular.Size24.Cut())" />
        <SleekDialItem Title="Copy" Icon="@(new Icons.Regular.Size24.Copy())" />
        <SleekDialItem Title="Paste" Icon="@(new Icons.Regular.Size24.ClipboardPaste())" />
        <SleekDialItem Title="Delete" Icon="@(new Icons.Regular.Size24.Delete())" />
    </FluentCxSleekDial> 

       <FluentCxSleekDial Target="target-radial"
                       Position="FloatingPosition.MiddleRight"
                       Direction="SleekDialLinearDirection.Left"
                       OpenIcon="@(new Icons.Filled.Size24.Navigation())"
                       CloseIcon="@(new Icons.Filled.Size24.Dismiss())"
                       Mode="SleekDialMode.Radial">
        <SleekDialItem Title="Cut" Icon="@(new Icons.Regular.Size24.Cut())" />
        <SleekDialItem Title="Copy" Icon="@(new Icons.Regular.Size24.Copy())" />
        <SleekDialItem Title="Paste" Icon="@(new Icons.Regular.Size24.ClipboardPaste())" />
        <SleekDialItem Title="Delete" Icon="@(new Icons.Regular.Size24.Delete())" />
    </FluentCxSleekDial>

    <FluentCxSleekDial Target="target-radial"
                       Position="FloatingPosition.BottomLeft"
                       OpenIcon="@(new Icons.Filled.Size24.Navigation())"
                       CloseIcon="@(new Icons.Filled.Size24.Dismiss())"
                       Mode="SleekDialMode.Radial">
        <SleekDialItem Title="Cut" Icon="@(new Icons.Regular.Size24.Cut())" />
        <SleekDialItem Title="Copy" Icon="@(new Icons.Regular.Size24.Copy())" />
        <SleekDialItem Title="Paste" Icon="@(new Icons.Regular.Size24.ClipboardPaste())" />
        <SleekDialItem Title="Delete" Icon="@(new Icons.Regular.Size24.Delete())" />
    </FluentCxSleekDial>

    <FluentCxSleekDial Target="target-radial"
                       Position="FloatingPosition.BottomCenter"
                       OpenIcon="@(new Icons.Filled.Size24.Navigation())"
                       CloseIcon="@(new Icons.Filled.Size24.Dismiss())"
                       Mode="SleekDialMode.Radial">
        <SleekDialItem Title="Cut" Icon="@(new Icons.Regular.Size24.Cut())" />
        <SleekDialItem Title="Copy" Icon="@(new Icons.Regular.Size24.Copy())" />
        <SleekDialItem Title="Paste" Icon="@(new Icons.Regular.Size24.ClipboardPaste())" />
        <SleekDialItem Title="Delete" Icon="@(new Icons.Regular.Size24.Delete())" />
    </FluentCxSleekDial>

    <FluentCxSleekDial Target="target-radial"
                       Position="FloatingPosition.BottomRight"
                       OpenIcon="@(new Icons.Filled.Size24.Navigation())"
                       CloseIcon="@(new Icons.Filled.Size24.Dismiss())"
                       Mode="SleekDialMode.Radial">
        <SleekDialItem Title="Cut" Icon="@(new Icons.Regular.Size24.Cut())" />
        <SleekDialItem Title="Copy" Icon="@(new Icons.Regular.Size24.Copy())" />
        <SleekDialItem Title="Paste" Icon="@(new Icons.Regular.Size24.ClipboardPaste())" />
        <SleekDialItem Title="Delete" Icon="@(new Icons.Regular.Size24.Delete())" />
    </FluentCxSleekDial> 
</div>
