@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<div id="@Id"
     @onclick=OnTappedAsync
     @ondblclick=OnDoubleTappedAsync
     class="@InternalClass"
     style="@InternalStyle" >
    <div class="fluentcx-resizer-child-content-container">
        @ChildContent
    </div>

    @if (IsResizeEnabled)
    {
        @foreach (var item in ResizeHandlers)
        {
            string css = $"fluentcx-resizer-handler fluentcx-resizer-handler-cursor-{item.Key.ToAttributeValue()}";

            <div class="@css"
            style="@item.Value" />
        }

    }
</div>

<!-- So weird, why I need to do this inside the razor file, instead the css file ? -->
<style>
    fluent-button {
        min-height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
        height: 100%;
        width: 100%;
    }
</style>
