@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<CascadingValue Value="this" IsFixed>
    @ChildContent
    <FluentDragContainer Style="height: 100%; overflow-y: auto; overflow-x: hidden; width: 100%"
                         OnDropEnd=@OnDropEnd
                         TItem="FluentCxTileGridItem">
        <div data-id="@DataId"
             spacing="@Spacing"
             @attributes=AdditionalAttributes
             class="@InternalClass"
             dir="@GlobalState.Dir.ToAttributeValue()"
             style="@InternalStyle"
             role="list">
            @foreach (var item in _children)
            {
                @item.ItemRendered
            }
        </div>
    </FluentDragContainer>
</CascadingValue>
