@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase
@typeparam TItem where TItem : class, new()

<CascadingValue Value="this" IsFixed>
    <FluentDragContainer Style="height: 100%; overflow-y: auto; overflow-x: hidden; width: 100%"
                         OnDropEnd=@OnDropEnd
                         TItem="FluentCxTileGridItem<TItem>">
        <div data-id="@DataId"
             spacing="@Spacing"
             @attributes=AdditionalAttributes
             class="@InternalClass"
             dir="@GlobalState.Dir.ToAttributeValue()"
             style="@InternalStyle"
             role="list">
            @if (ItemTemplate is not null)
            {
                foreach(var item in Items)
                {
                    @ItemTemplate(item)
                }
            }
            else if (ChildContent is not null)
            {
                @ChildContent
            }
        </div>
    </FluentDragContainer>
</CascadingValue>
