@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<FluentStack Orientation="Orientation.Vertical">
    <div class="fluentcx-prompt-container">
        <FluentTextArea @bind-Value=@Parent.Prompt
                        @bind-Value:after=@HandlePromptChangedAsync
                        Immediate
                        Resize="TextAreaResize.Vertical"
                        Rows="3"
                        Style="width: 100%"
                        Placeholder="@Parent.Labels.PlaceholderLabel" />

        @if (HasSuggestion)
        {
            <FluentAccordion Id=@SuggestionAccordionId ExpandMode="AccordionExpandMode.Single">
                <FluentAccordionItem role="list" @bind-Expanded=Parent.IsSuggestionExpanded>
                    @foreach (var item in Parent.Suggestions)
                    {
                        if (Parent.SuggestionItemTemplate is not null)
                        {
                            @Parent.SuggestionItemTemplate(item)
                        }
                        else
                        {
                            <FluentCard role="listitem"
                                        @onkeydown=@((e) => OnKeyDownAsync(e, item))
                                        @onclick=@(() => OnTappedAsync(item))
                                        MinimalStyle
                                        tabindex="0">
                                <FluentLabel>@item</FluentLabel>
                            </FluentCard>
                        }
                    }
                </FluentAccordionItem>
            </FluentAccordion>
        }
    </div>

    <FluentStack HorizontalAlignment="HorizontalAlignment.Right">
        <FluentButton Style="border-radius: 100000px"
                      Appearance="Appearance.Accent"
                      Disabled=@string.IsNullOrEmpty(Parent.Prompt)
                      OnClick="@(() => Parent.HandleRequestAsync())"
                      IconStart="@(new IconsFilled.Size24.BotSparkle())">
            @Parent?.Labels.Generate
        </FluentButton>
    </FluentStack>
</FluentStack>


