@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<div class="audio-playlist-item"
     style="@Style"
     id="@Id"
     @onclick="OnHandleClickAsync">
    <FluentStack Style="height: 100%"
                 VerticalAlignment="VerticalAlignment.Center">
        @if (Track is not null)
        {
            @if (!string.IsNullOrEmpty(Track.Cover))
            {
                <img width="48"
                     height="48"
                     src="@Track.Cover"
                     title="@Track.Title"
                     aria-label="@Track.Title" />
            }

            <FluentStack VerticalGap=1 Orientation="Orientation.Vertical">
                <FluentLabel Color=Color.Accent Weight="FontWeight.Bold">@Track.Title</FluentLabel>
                <FluentLabel Color="Color.FillInverse">@Track.Artist</FluentLabel>
            </FluentStack>

            <FluentIcon Value="@TrackIcon" />
        }
    </FluentStack>


    <FluentDivider Role="DividerRole.Presentation" />
</div>
