@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<div @ref="@Element" id="@Id" class="@Css" style="@Style" role="presentation" @attributes="@AdditionalAttributes">
    @ChildContent
</div>
