@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

@if (Parent is not null)
{
    <LoginCardContainer Title="@Parent.Labels.ForgotPassword" TitleIcon="@(new Regular.Size48.LockClosed())">
        <Body>

            <FluentStack Orientation="Orientation.Vertical"
                         VerticalGap="30"
                         Style="height: 100%">
                <FluentLabel Color="Color.Neutral"
                             Style="margin-bottom: 30px; margin-top: 30px">
                    @Parent.Labels.ForgotPasswordInstructions
                </FluentLabel>

                <FluentEditForm style="width: 100%; height: 100%"
                                OnValidSubmit="@OnSendInstructionsAsync"
                                method="post"
                                @ref="_fluentEditForm"
                                Model="@_model">
                    <Microsoft.AspNetCore.Components.Forms.DataAnnotationsValidator />

                    <FluentStack Orientation="Orientation.Vertical"
                                 VerticalGap="0"
                                 Style="height: 100%">
                        <FluentStack Orientation="Orientation.Vertical"
                                     VerticalGap="0"
                                     Style="margin-bottom: 30px;">
                            <FluentTextField Label="@Parent.Labels.Email"
                                             AriaLabel="@Parent.Labels.Email"
                                             Required
                                             Immediate
                                             @bind-Value="_model.Email"
                                             Placeholder="@Parent.Labels.EmailPlaceholder"
                                             Style="width: 100%;" />

                            <FluentValidationMessage For="@(() => _model.Email)" />
                        </FluentStack>

                        @if (!string.IsNullOrEmpty(_errorMessage))
                        {
                            <FluentLabel Color="Color.Error" Style="margin-bottom: 10px; margin-top: 10px">
                                @_errorMessage
                            </FluentLabel>
                        }

                        <FluentStack Style="height: 100%"
                                     VerticalAlignment="VerticalAlignment.Bottom"
                                     HorizontalAlignment="HorizontalAlignment.Center">
                            <FluentButton Style="width: 100%;"
                                          Appearance="Appearance.Accent"
                                          Disabled="@IsDisabled"
                                          Type="ButtonType.Submit">
                                @Parent.Labels.SendInstructions
                            </FluentButton>
                        </FluentStack>
                    </FluentStack>
                </FluentEditForm>
            </FluentStack>
        </Body>

        <Footer>
            <FluentStack VerticalAlignment="VerticalAlignment.Bottom"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         Style="height: 100%"
                         Orientation="Orientation.Vertical">
                <FluentStack Orientation="Orientation.Vertical"
                             HorizontalAlignment="HorizontalAlignment.Center"
                             VerticalGap="1">
                    <FluentLabel Color="@Color.FillInverse">@Parent.Labels.AlreadyHaveAnAccount</FluentLabel>
                    <FluentAnchor Href="#"
                                  aria-disabled="@AriaDisabled"
                                  Appearance="Appearance.Hypertext"
                                  Style="@(_isProcessing ? "pointer-events: none; opacity: 0.5; cursor: default;" : "")"
                                  OnClick="@(OnLoginAsync)">
                        @Parent.Labels.Login
                    </FluentAnchor>
                </FluentStack>

                <FluentStack Orientation="Orientation.Vertical"
                             HorizontalAlignment="HorizontalAlignment.Center"
                             VerticalGap="1">
                    <FluentLabel Color="@Color.FillInverse">@Parent.Labels.DontHaveAnAccount</FluentLabel>
                    <FluentAnchor Href="#"
                                  aria-disabled="@AriaDisabled"
                                  Style="@(_isProcessing ? "pointer-events: none; opacity: 0.5; cursor: default;" : "")"
                                  Appearance="Appearance.Hypertext"
                                  OnClick="@(OnSignUpAsync)">
                        @Parent.Labels.SignUp
                    </FluentAnchor>
                </FluentStack>
            </FluentStack>
        </Footer>
    </LoginCardContainer>

}
