@using Microsoft.FluentUI.AspNetCore.Components.Extensions
<div style="width:100%; height: 500px">
    <FluentStack>
        <FluentStack Orientation=Orientation.Vertical Style="margin-bottom: 20px">
            <FluentSlider Label="@GetColumnsLabel()"
                          @bind-Value=_columns
                          @bind-Value:after="OnUpdateRequestedAsync"
                          Min="1"
                          Max="5"
                          Step="1"
                          Style="width: 200px; margin-right: 20px" />

            <FluentSlider Label="@GetCellWidthLabel()"
                          @bind-Value=_cellWidth
                          @bind-Value:after="OnUpdateRequestedAsync"
                          Min="100"
                          Max="300"
                          Step="10"
                          Style="width: 200px; margin-right: 20px" />

            <FluentSlider Label="@GetCellHeightLabel()"
                          @bind-Value=_cellHeight
                          @bind-Value:after="OnUpdateRequestedAsync"
                          Min="100"
                          Max="300"
                          Step="10"
                          Style="width: 200px; margin-right: 20px" />

            <FluentSlider Label="@GetDurationLabel()"
                          @bind-Value=_duration
                          @bind-Value:after="OnUpdateRequestedAsync"
                          Min="500"
                          Max="2000"
                          Step="100"
                          Style="width: 200px; margin-right: 20px" />

            <FluentSelect Label="Easing Function"
                          TOption="EasingFunction"
                          Items="@(Enum.GetValues<EasingFunction>())"
                          OptionText="@(e => e.ToAttributeValue())"
                          @bind-SelectedOption=_easingFunction
                          @bind-SelectedOption:after="OnUpdateRequestedAsync"
                          Style="width: 200px; margin-right: 20px">
            </FluentSelect>

            <FluentSelect @bind-SelectedOption=_easingMode
                          TOption="EasingMode"
                          Items="@(Enum.GetValues<EasingMode>())"
                          Label="Easing mode"
                          @bind-SelectedOption:after="OnUpdateRequestedAsync"
                          Style="width: 200px; margin-right: 20px" />
        </FluentStack>

        <FluentStack HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center">
            <FluentCxAnimation @ref=_animation>
                <ChildContent>
                    <AnimationItem Width="100" Height="100">
                        <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/1.jpg" />
                    </AnimationItem>

                    <AnimationItem Width="100" Height="100">
                        <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/2.jpg" />
                    </AnimationItem>

                    <AnimationItem Width="100" Height="100">
                        <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/3.jpg" />
                    </AnimationItem>

                    <AnimationItem Width="100" Height="100">
                        <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/4.png" />
                    </AnimationItem>

                    <AnimationItem Width="100" Height="100">
                        <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/5.png" />
                    </AnimationItem>

                    <AnimationItem Width="100" Height="100">
                        <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/6.png" />
                    </AnimationItem>

                    <AnimationItem Width="100" Height="100">
                        <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/7.png" />
                    </AnimationItem>

                    <AnimationItem Width="100" Height="100">
                        <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/8.png" />
                    </AnimationItem>

                    <AnimationItem Width="100" Height="100">
                        <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/9.png" />
                    </AnimationItem>
                </ChildContent>

                <Layout>
                    <SnakeLayout CellHeight=@_cellHeight
                                 CellWidth=@_cellWidth
                                 Columns=@_columns
                                 Duration="@TimeSpan.FromMilliseconds(_duration)"
                                 EasingFunction="@_easingFunction"
                                 EasingMode="@_easingMode" />
                </Layout>
            </FluentCxAnimation>
        </FluentStack>
    </FluentStack>
</div>

@code {
    private FluentCxAnimation? _animation;
    private int _cellHeight = 100;
    private int _cellWidth = 100;
    private int _columns = 3;
    private int _duration = 500;
    private EasingFunction _easingFunction = EasingFunction.Linear;
    private EasingMode _easingMode = EasingMode.In;

    private string GetDurationLabel() => $"Duration: {_duration}ms";

    private string GetColumnsLabel() => $"Columns: {_columns}";

    private string GetCellWidthLabel() => $"Cell width: {_cellWidth}";

    private string GetCellHeightLabel() => $"Cell height: {_cellHeight}";

    private async Task OnUpdateRequestedAsync()
    {
        if (_animation is not null)
        {
            await _animation.StopAsync();
            await _animation.StartAsync();
        }
    }
}
