@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<FluentKeyCode Anchor="@Id" OnKeyDown="@OnKeyDownAsync" />

<FluentStack VerticalAlignment="VerticalAlignment.Center">
    <FluentLabel>@FormatTime(CurrentTime)</FluentLabel>
    <FluentSpacer Width="8" />

    <div class="seekbar-container"
         tabindex="0"
         id="@Id"
         @ref="Element"
         @onpointerdown="StartDragAsync"
         @onpointermove="OnDragAsync"
         @onpointerup="EndDragAsync"
         @onpointerleave="EndDragAsync"
         @ontouchstart="StartTouchAsync"
         @ontouchmove="OnTouchMoveAsync"
         @ontouchend="EndTouchAsync"
         @onclick="OnClickSeek"
         role="slider"
         aria-valuemin="0"
         aria-valuemax="@Duration"
         aria-valuenow="@CurrentTime">

        <div class="seekbar-track">
            <div class="seekbar-progress" style="width:@Progression"></div>

            @foreach (var chapter in Chapters)
            {
                <div class="seekbar-chapter"
                     style="left:@(chapter.Start / Duration * 100)%;
                                width:@((chapter.End - chapter.Start) / Duration * 100)%;
                                background:@GetChapterColor(chapter.Status);">
                </div>
            }
        </div>

        <div class="seekbar-handle" style="left:@Progression"></div>

        @if (_showPreview)
        {
            <div class="seekbar-preview" style="left:@Progression">
                @if (Mode == MediaMode.Video && ThumbnailProvider is not null)
                {
                    <div class="thumbnail-box">
                        <img src="@ThumbnailProvider(_previewTime)" />
                    </div>
                }
                <div class="time-label">@FormatTime(_previewTime)</div>
            </div>
        }
    </div>
    <FluentSpacer Width="8" />
    <FluentLabel>@FormatTime(Duration)</FluentLabel>
</FluentStack>
