<h3>Default</h3>

<div style="height: 400px">
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="30">
        <FluentStack>
            <FluentStack Orientation="Orientation.Vertical">
                <FluentSelect Items="@(Enum.GetValues<ImageGroupLayout>())"
                              Label="Layout"
                              AriaLabel="Layout"
                              @bind-SelectedOption=_imageLayout />
            </FluentStack>
            <FluentStack Orientation="Orientation.Vertical">
                <FluentSelect Items="@(Enum.GetValues<ImageSize>())"
                              Label="Size of the image"
                              AriaLabel="Size of the image"
                              @bind-SelectedOption=_imageSize />
            </FluentStack>
            <FluentStack Orientation="Orientation.Vertical">
                <FluentSelect Items="@(Enum.GetValues<ImageShape>())"
                              Label="Shape of the image"
                              AriaLabel="Shape of the image"
                              @bind-SelectedOption=_imageShape />
            </FluentStack>
            <FluentStack Orientation="Orientation.Vertical">
                <FluentNumberField Min="1"
                                   Max="8"
                                   @bind-Value=_maxItemVisible
                                   Label="Maximum items visible"
                                   AriaLabel="Maximum items visible" />
            </FluentStack>
        </FluentStack>

        <FluentCxImageGroup Size="@_imageSize"
                            Shape="@_imageShape"
                            GroupType=@_imageLayout
                            MaxVisibleItems="@_maxItemVisible">
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" Style="border: #b32121 2px solid"/>
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" Style="border: #1b6ec2 2px solid"/>
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" Style="border: #c02d76 3px solid"/>
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
            <FluentCxImage Source="@(new FileIcons.Size128.WordIcon().ToImageSource())" />
        </FluentCxImageGroup>
    </FluentStack>
</div>

@code {
    private ImageSize _imageSize = ImageSize.Size32;
    private ImageShape _imageShape = ImageShape.Square;
    private int _maxItemVisible = 3;
    private ImageGroupLayout _imageLayout = ImageGroupLayout.Spread;
}
