@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

@if (IsVisible)
{
    <div id="@Id"
         class="audio-playlist @Class"
         style="@InternalStyle">
        <Virtualize ItemSize="70"
                    Items="@Playlist">
            <AudioPlaylistItem Track="@context"
                               IsSelected="@(context == CurrentTrack)"
                               OnSelected="@OnTrackSelected" />
        </Virtualize>
    </div>
}
