@namespace FluentUI.Blazor.Community.Components

@inherits FluentComponentBase

<CascadingValue Value="this" IsFixed>
    <div role="group" style="position: relative; display: inline-flex; unicode-bidi: isolate;">
        @ChildContent

        @if (_children.Count > 0)
        {
            @for (int i = 0; i < VisibleCount; ++i)
            {
                @_children[i].InternalRenderer
            }

            @if(_children.Count > VisibleCount)
            {
                <FluentButton Id="@($"ImageGroupPopover{Id}")" 
                              Style="@GetButtonStyle()"
                              Appearance="Appearance.Neutral"
                              OnClick="@(() => _isPopoverOpen = !_isPopoverOpen)">
                    @($"+ {_children.Count - VisibleCount}")
                </FluentButton>

                <FluentPopover AnchorId="@($"ImageGroupPopover{Id}")"
                               @bind-Open=_isPopoverOpen
                               Style="max-height: 350px; overflow-y: auto">
                    <Body>
                       <FluentStack Orientation="Orientation.Vertical">
                            @foreach (var item in _children.Skip(VisibleCount))
                            {
                                @item.InternalRenderer
                            }
                       </FluentStack>
                    </Body>
                </FluentPopover>
            }
        }
    </div>
</CascadingValue>

